<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>925466884724-5daasmgb5l9ishppbhrsr5k54edts3tl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925466884724-5daasmgb5l9ishppbhrsr5k54edts3tl</string>
	<key>API_KEY</key>
	<string>AIzaSyCQu_6VmOI9bMls2FKlNQ80g7nSXfxoBkY</string>
	<key>GCM_SENDER_ID</key>
	<string>925466884724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CSE.ClassRoutine</string>
	<key>PROJECT_ID</key>
	<string>attendance-9bd3f</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-9bd3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925466884724:ios:073aba75979b7882</string>
	<key>DATABASE_URL</key>
	<string>https://attendance-9bd3f.firebaseio.com</string>
</dict>
</plist>